/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  text-align: center;
  background: linear-gradient(135deg, #1c1c1c, #444);
  padding: 20px;
  border: 5px solid #ff6f61;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #ff6f61;
  width: 80%;
  max-width: 800px;
}

h1 {
  color: #ff6f61;
  margin-bottom: 10px;
}

.instructions {
  margin-bottom: 20px;
  color: #ddd;
  font-size: 0.9rem;
}

.start-btn, .exit-btn, .sort-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.start-btn {
  background-color: teal;
  color: #ffffff;
}

.exit-btn {
  background-color: crimson;
  color: #ffffff;
  display: none;
}

.sort-btn {
  background-color: teal;
  color: #ffffff;
  font-size: 1rem;
  display: none;
}

.players-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.shared-array-container {
  margin-top: 20px;
}

.array-container {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.array-item {
  background: #1c1c1c;
  border: 2px solid #ff6f61;
  padding: 5px 10px;
  font-weight: bold;
  color: #fff;
}

.move-display {
  font-size: 3rem;
  padding: 10px;
  background: #222;
  border: 3px solid #fff;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6f61;
}
div #player1{
  margin-left: 80px;
  margin-bottom: 30px;
}
div #player2{
  margin-right: 80px;
  margin-bottom: 30px;
}
.game-message { 
  margin-top: 10px;
  font-size: 1.5rem;
  color: #ff6f61;
  text-align: center;
}

/* AGAIN Button */
.again-btn {
  padding: 10px 20px;
  margin-left: 22rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: rgb(128, 36, 0);
  color: #ffffff;
}

.again-btn:hover {
  background-color: #6c1900;
}
